@media (max-width: 900px) {
  .header__row {
    justify-content: flex-start;
  }
  .header__item {
    &:nth-child(2) {
      display: none;
    }
    &:first-child {
      margin-right: 40px;
    }
  }
  .menu__icon {
    display: block;
  }
  .burger__menu {
    display: block;
  }
}

@media (max-width: 800px) {
  .first_screen {
    h1 {
      font-size: 40px;
    }
  }
  .benefits__row {
    flex-direction: column;
  }
  .footer__row {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer__block {
    margin-bottom: 15px;
  }
  footer {
    padding-bottom: 10px;
  }
}

@media (max-width: 750px) {
  .header__item:not(:first-child) {
    display: none;
  }

  .burger__menu {
    padding: 0 20px 20px;
    display: flex;
    flex-direction: column;
    ul a {
      width: 100%;
    }
    a {
      width: 46%;
    }
    .burger__item {
      a:after {
        display: none;
      }
    }
  }
  .benefits__row {
    transform: translateY(-100px);
  }
  footer {
    transform: translateY(-100px);
  }
  .footer__block {
    width: 100%;
  }
  .footer__subscribe {
    width: 100%;
    input[type="text"] {
      width: 60%;
    }
    input[type="submit"] {
      right: 40%;
    }
  }
  .footer__columns {
    justify-content: flex-start;
  }
}

@media (max-width: 650px) {
  .first_screen {
    h1 {
      font-size: 35px;
      margin-bottom: 40px;
    }
  }
  .slider__item:last-child {
    padding: 100px 30px 130px;
  }
}

@media (max-width: 600px) {
  .burger__menu {
    width: 70%;
  }
  .footer__subscribe {
    width: 100%;
    input[type="text"] {
      width: 100%;
    }
    input[type="submit"] {
      right: 0;
    }
  }
}

@media (max-width: 550px) {
  .first_screen {
    h1 {
      font-size: 30px;
    }
  }
  .benefits__list {
    li {
      flex: 1 1 50%;
    }
  }
}

@media (max-width: 500px) {
  .burger__menu {
    width: 80%;
  }
  .first_screen {
    h1 {
      font-size: 26px;
      line-height: 1.7;
    }
  }
}

@media (max-width: 400px) {
  .burger__menu {
    width: 100%;
  }
}

@media (max-width: 350px) {
  .footer__column:first-child {
    margin-right: 50px;
  }
}
